# LISTS

In [26]:
countries_list=['Kenya', 'Sudan','Tanzania','Somalia','Uganda','Ethiopia' ]

In [27]:
countries_list

['Kenya', 'Sudan', 'Tanzania', 'Somalia', 'Uganda', 'Ethiopia']

In [28]:
EA=countries_list

To access elements (a particular country) in the list of East African Coutries

In [6]:
EA[0]

'Kenya'

In [7]:
EA[0:]

['Kenya', 'Sudan', 'Tanzania', 'Somalia', 'Uganda', 'Ethiopia']

In [8]:
EA[3:]

['Somalia', 'Uganda', 'Ethiopia']

In [9]:
EA[-2]

'Uganda'

In [10]:
EA[-3:]

['Somalia', 'Uganda', 'Ethiopia']

In [17]:
EA[:-4]

['Kenya', 'Sudan']

In [18]:
EA[1:4]

['Sudan', 'Tanzania', 'Somalia']

# Tuple

Tuple starts with a regular brackets ()
It can have duplicate members, it is unchangable(cannot add or remove items but can access them via indexing)
Tuples are ordered just like a list

In [19]:
country_tuple=('Kenya, Tanzania','Uganda')
country_tuple

('Kenya, Tanzania', 'Uganda')

In [21]:
country_tuple[1]

'Uganda'

# SET

A set is a data collection which is unordered and doesn't allow duplicate members
Arrangement of items is reorganized everytime ,so you cannot retrieve items from a set via indexing
It arranges from A-Z, 0-9

In [31]:
country_set={'Kenya','Kenya','kenya','Uganda','Tanzania','Somalia','Ethiopia'}
country_set

{'Ethiopia', 'Kenya', 'Somalia', 'Tanzania', 'Uganda', 'kenya'}

In [23]:
EA=country_set

In [24]:
EA.add('Djibouti')

In [25]:
EA

{'Djibouti', 'Ethiopia', 'Kenya', 'Somalia', 'Tanzania', 'Uganda'}

Converting List-Tuple Tuple-List and vise versa

In [32]:
EA

['Kenya', 'Sudan', 'Tanzania', 'Somalia', 'Uganda', 'Ethiopia']

In [34]:
EA1=set(EA)
EA1

{'Ethiopia', 'Kenya', 'Somalia', 'Sudan', 'Tanzania', 'Uganda'}

In [38]:
EA2=list(EA)
EA2

['Kenya', 'Sudan', 'Tanzania', 'Somalia', 'Uganda', 'Ethiopia']

In [42]:
EA3=tuple(EA)
EA3

('Kenya', 'Sudan', 'Tanzania', 'Somalia', 'Uganda', 'Ethiopia')

In [43]:
type(EA3)

tuple

# Dictionary

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
Dictionaries are written with curly brackets, and have keys and values
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
Json Format-key value pair

In [46]:
person={
            'Name':'Dickson',
            'Age':25,
            'City':'Nairobi'
}
person

{'Name': 'Dickson', 'Age': 25, 'City': 'Nairobi'}

In [47]:
person['Name']

'Dickson'

In [48]:
person['City']

'Nairobi'

You can use get to access items in a dictionary

In [51]:
print(person.get('Name'))

Dickson

Adding Items in a dictionary

In [52]:
person['contact']='0717266680'

In [53]:
person

{'Name': 'Dickson', 'Age': 25, 'City': 'Nairobi', 'contact': '0717266680'}

Creatin a second dictionary by copying and changing their key values

In [56]:
person2=person.copy()

In [57]:
person2

{'Name': 'Dickson', 'Age': 25, 'City': 'Nairobi', 'contact': '0717266680'}

In [59]:
person2['Name']='Martha'
person2['Age']=58
person2['City']='Maua'
person2['contact']='0763000000'
person2

{'Name': 'Martha', 'Age': 58, 'City': 'Maua', 'contact': '0763000000'}

Removing something from a dictionary using pop or delete method

In [65]:
person2['contact']='0717266690'

In [71]:
person2

{'Name': 'Martha', 'contact': '0717266690'}

In [73]:
person2.pop('contact')

'0717266690'

In [74]:
person2

{'Name': 'Martha'}

Len method counts for key value pairs in a dictionary
Len method also counts how many items are in a list,tuple or a set

In [76]:
len(person)

4